<div class="h-screen pb-14 bg-right bg-cover bubble-background">
   <!--Nav-->
   <%= render partial: "shared/nav" %>
   <!--Main-->
   <div class="container pt-24 md:pt-48 px-6 mx-auto flex flex-wrap flex-col md:flex-row items-center">
      <!--Left Col-->
      <div class="flex flex-col w-full xl:w-2/5 justify-center lg:items-start overflow-y-hidden">
         <h1 class="my-4 text-3xl md:text-5xl text-purple-800 font-bold leading-tight text-center md:text-left slide-in-bottom-h1">Book me</h1>
         <p class="leading-normal text-base md:text-2xl mb-8 text-center md:text-left slide-in-bottom-subtitle">Simplifying booking integration into your hotel, and spaces application</p>
         <p class="text-blue-400 font-bold pb-8 lg:pb-6 text-center md:text-left fade-in">How it works:</p>
         <p class="leading-normal text-base mb-8 text-center md:text-left slide-in-bottom-subtitle">Book me provides an API to easily integrate the booking process for your hotel, Air BnB and other apps. We provide a portal for you to login and later manage your bookings</p>
         <p class="leading-normal text-base mb-8 text-center md:text-left slide-in-bottom-subtitle">Contact us today and we shall set you up</p>
      </div>
      <!--Right Col-->
      <div class="w-full xl:w-3/5 py-6 overflow-y-hidden">
         <%= image_tag  "devices.svg",  class: "w-5/6 mx-auto lg:mr-0 slide-in-bottom" %>
      </div>
      <!--Footer-->
      <div class="w-full pt-16 pb-6 text-sm text-center md:text-left fade-in">
         <a class="text-gray-500 no-underline hover:no-underline" href="#">&copy; App <%= Time.zone.now.year %></a>
      </div>
   </div>
</div>